/* APP */

.App {
  text-align: center;
  background-color: rgb(240, 240, 240);
  color: #000;
  font-size: calc(10px + 2vmin);
}

/* CONTROL PANEL */
.control-panel {
  display: flex;
  /* flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start; */
  width: calc(100vw - 40px);;
  height: calc(100vh - 40px);;
  border: 20px solid transparent;
  border-image: url("./assets/img/control-panel-frame.png") 30 round;
  background-color: rgb(210, 210, 210);
}

.control-panel p {
  margin: 0 auto;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container {
  height: 100%;
  display: grid;
}

.container .row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.panel-column {
  flex: 50%;
  height: 100%;
}

button {
  align-self: center;
  border: 0px;
  background-color: transparent;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 0.8em;
}

button:hover {
  opacity: 0.8;
  cursor: pointer;
}

button:focus {
  outline: none;
}

/* DIRECTION */
.direction {
  width: auto;
  height: 50vh;
  border: 1px solid #000;
  margin: 0.5em;
  position: relative;
}

.direction-head {
  width: 100%;
  max-width: 120px;
  max-height: 100px;
  align-self: center;
}

.direction-top {
  background-image: url("./assets/img/direction/button-top.png");
  width: 157px;
  height: 90px;
}

.direction-bottom {
  background-image: url("./assets/img/direction/button-bottom.png");
  width: 151px;
  height: 85px;
}

.direction-left {
  background-image: url("./assets/img/direction/button-left.png");
  width: 89px;
  height: 153px;
}

.direction-right {
  background-image: url("./assets/img/direction/button-right.png");
  width: 86px;
  height: 151px;
}

/* ROTATION */
.rotation {
  width: auto;
  height: 10vh;
  border: 1px solid #000;
  margin: 0.5em;
}

.rotation button {
  text-align: center;
  padding-top: 0.5em;
  padding-left: 2em;
}

.rotation-30 {
  background-image: url("./assets/img/rotation/rotation-30.png");
  width: 131px;
  height: 65px;
}

.rotation-45 {
  background-image: url("./assets/img/rotation/rotation-45.png");
  width: 120px;
  height: 84px;
}

/* SPEED */
.speed {
  width: auto;
  height: 10vh;
  border: 1px solid #000;
  margin: 0.5em;
}

/* SETTINGS */
.settings {
  width: auto;
  height: 10vh;
  border: 1px solid #000;
  margin: 0.5em;
  margin-top: 2em;
}

/* BODY */
.body {
  width: auto;
  height: calc(100% - 20px);
  border: 1px solid #000;
  margin: 0.5em;
}
