/* APP */

.App {
  text-align: center;
  background-color: rgb(210, 210, 210);
  color: #000;
  font-size: calc(10px + 2vmin);
}

/* CONTROL PANEL */
.control-panel {
  display: flex;
  /* flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start; */
  width: fit-content;
  height: fit-content;
  border: 20px solid transparent;
  border-image: url("./assets/img/control-panel-frame.png") 30 round;
  background-color: rgb(210, 210, 210);
  padding: 1em;
}

/* .control-panel p {
  margin: 0 auto;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */

.container {
  height: 100%;
  display: grid;
}

.container .row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.panel-column {
  width: auto;
  height: 100%;
}

.panel-parameters {
  width: 100%;
  max-width: 450px;
}

.panel-body {
  width: 100%;
  margin: 0;
  padding: 0;
}

button {
  align-self: center;
  border: 0px;
  background-color: transparent;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 0.8em;
}

button:hover {
  opacity: 0.8;
  cursor: pointer;
}

button:focus {
  outline: none;
}

/* DIRECTION */
.direction {
  width: auto;
  height: 50vh;
  margin: 0.5em;
  position: relative;
}

.direction-head {
  width: 100%;
  max-width: 120px;
  max-height: 100px;
  align-self: center;
}

.direction-top {
  background-image: url("./assets/img/direction/button-top.png");
  width: 157px;
  height: 90px;
}

.direction-bottom {
  background-image: url("./assets/img/direction/button-bottom.png");
  width: 151px;
  height: 85px;
}

.direction-left {
  background-image: url("./assets/img/direction/button-left.png");
  width: 89px;
  height: 153px;
}

.direction-right {
  background-image: url("./assets/img/direction/button-right.png");
  width: 86px;
  height: 151px;
}

/* ROTATION */
.rotation {
  width: auto;
  height: 10vh;
  margin: 0.5em;
}

.rotation .row {
  justify-content: center;
}

.rotation button {
  text-align: center;
  padding-top: 0.5em;
  padding-left: 2em;
}

.rotation-30 {
  background-image: url("./assets/img/rotation/rotation-30.png");
  width: 131px;
  height: 65px;
}

.rotation-45 {
  background-image: url("./assets/img/rotation/rotation-45.png");
  width: 120px;
  height: 84px;
  margin-left: 3em;
}

/* SPEED */
.speed {
  width: auto;
  height: 10vh;
  margin: 0.5em;
  margin-top: 1em;
}

.speed .row {
  justify-content: center;
}

.speed-slow {
  background-image: url("./assets/img/speed/button-slow.png");
  width: 154px;
  height: 66px;
}

.speed-fast {
  background-image: url("./assets/img/speed/button-fast.png");
  width: 130px;
  height: 63px;
  margin-left: 10px;
}

.speed-arrow {
  width: 108px;
  height: 17px;
  align-self: center;
  background-color: transparent;
  margin-left: 10px;
}

/* SETTINGS */
.settings {
  width: auto;
  height: 10vh;
  margin: 0.5em;
  margin-top: 3em;
}

/* BODY */
.body {
  width: auto;
  float: left;
  margin-left: 1em;
}

.body .container {
  width: 100%;
  min-width: 300px;
  height: 100%;
  background-image: url("./assets/img/body/body-skeleton.png");
  background-repeat: no-repeat;
  background-position: 50% 15%;
}

.body button {
  align-self: auto;
}

.body-head {
  background-image: url("./assets/img/body/body-head.png");
  width: 100px;
  height: 128px;
  position: relative;
  top: 35px;
  left: -18px;
}

.body-neck {
  background-image: url("./assets/img/body/body-neck.png");
  width: 41px;
  height: 51px;
  position: relative;
  top: 20px;
  left: -18px;
}

.body-arm {
  background-image: url("./assets/img/body/body-arm.png");
  width: 103px;
  height: 354px;
  position: relative;
  top: 15px;
  left: 110px;
  padding-left: 25px;
}

.body-elbow {
  background-image: url("./assets/img/body/body-elbow.png");
  width: 58px;
  height: 54px;
  position: relative;
  top: -185px;
  left: -130px;
}

.body-waist {
  background-image: url("./assets/img/body/body-waist.png");
  width: 117px;
  height: 53px;
  position: relative;
  top: -140px;
  left: -10px;
}

.body-hand {
  background-image: url("./assets/img/body/body-hand.png");
  width: 53px;
  height: 56px;
  position: relative;
  top: -145px;
  left: -140px;
}

.body-knee {
  background-image: url("./assets/img/body/body-knee.png");
  width: 63px;
  height: 52px;
  position: relative;
  top: -50px;
  left: -65px;
}

.body-leg {
  background-image: url("./assets/img/body/body-leg.png");
  width: 105px;
  height: 414px;
  position: relative;
  top: -220px;
  left: 45px;
}